<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title><strong>Mission to Mars<strong></title>
    <style>
    </style>
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
    />
  </head>
  <body style="background-color:#f8f9fa;">
    <div class="container">
      <!-- Add Jumbotron to Header -->
      <div flask runclass="jumbotron text-center" style="background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQsZpyiENxO9vDZXrmz2yDrHr4d5UvC7w4ioA&usqp=CAU); background-size: cover;padding-top: 10%;padding-bottom: 10%;">
        <div class="text-center">
          <h1><strong>Mission to Mars</strong></h1>
        </div>
        <!-- Add a button to activate scraping script -->
        <div class="form-row text-center">
          <div class="col-12">
            <p><a class="btn btn-primary" href="/scrape" role="button">Scrape New Data</a></p>
          </div>
        </div>
      </div>
      <!-- Add section for Mars News -->
      <div class="row" id="mars-news">
        <div class="col-md-12">
          <div class="media">
            <div class="media-body">
              <h2><strong>Mars News</strong></h2>
              <h4 class="media-heading">{{ mars.news_title }}</h4>
              <p>{{ mars.news_paragraph }}</p>
            </div>
          </div>
        </div>
      </div>
      <!-- Section for Featured Image and Facts table -->
      <div class="row" id="mars-featured-image">
        <div class="col-md-8">
          <h2><strong>Mars Image</strong></h2>
          <img
            src="{{mars.featured_image }}"
            class="img-responsive"
            alt="Responsive image"
          />
        </div>
        <div class="col-md-4">
          <!-- Mars Facts -->
          <div class="row" id="mars-facts">
            <table class="table table-striped">
              <thead class ="thead-dark">
                <tbody>
                <h4><strong>Mars Facts</strong></h4>
                {{ mars.facts | safe }}
                </tbody>
              </thead>
            </table>
          </div>
        </div>
      </div>
    </div>
  </body>
  <body>
    <div class="container text-center">
      <h1><strong>Mars Hemispheres<strong></h1>

      <div>
        <ul style="list-style: none;">
  
          <!-- Loop through the dictionary -->
          {% for hemisphere  in mars.hemispheres %}
            <div class="col-md-6">
              <span class="border-end">
                <span class="border-start"></span>
                  <img src="{{hemisphere.img_url}}" alt="hemisphere img" class="img-fluid img-thumbnail">
                  <h3><storong> hemisphitetitles: {{hemisphere.title }}</storong></h3>
                </span>
              </span>
            </div>
          {% endfor %}
        </ul>
      </div>
    </div>
    <div class="container text-center1">
      

      <div>
        <ul style="list-style: none;">
  
          <!-- Loop through the dictionary -->
          {% for hemisphere  in mars.hemispheres %}
            <div class="col-md-3">
              <span class="border-end">
                <span class="border-start"></span>
                  <img src="{{hemisphere.img_url}}" alt="hemisphere img" class="img-fluid img-thumbnail">
                  <h3><storong> hemisphitetitles: {{hemisphere.title }}</storong></h3>
                </span>
              </span>
            </div>
          {% endfor %}
        </ul>
      </div>
    </div>
  </body>
</html>